:root {
    --secondary-color-black: #1E1E1E;
    --secondary-color-gray: #F7FDF9;
}

/* Start Global */
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(30, 30, 30, 0.90) 0%, rgba(30, 30, 30, 0.50) 100%);
}

/* End Global */

/* Start Background */
.bg-secondary-black {
    background-color: var(--secondary-color-black);
}

.bg-blur {
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(5px);
}

.bg-secondary-gray {
    background-color: var(--secondary-color-gray);
}

/* End Background */

/* Start Shadow */
.inner-white-shadow {
    box-shadow: inset 0px 0px 0px 25px white;
}

.inner-white-shadow-2 {
    box-shadow: inset 0px -40px 0px -5px white;
}

.card-shadow:hover {
    box-shadow: 0px 2.4px 8.6125px 0px rgba(0, 0, 0, 0.02), 0px 12px 53px 0px rgba(0, 0, 0, 0.04);
}

/* End Shadow */

/* Start Landing Section */
.hero-bg-rounded {
    border-radius: 10rem 10rem 10rem 0.625rem;
}

.hero-img-rounded {
    border-bottom-right-radius: 10rem;
}

.landing svg {
    display: none;
}

@media (max-width: 1023px) {
    .landing {
        height: calc(100vh - 64px);
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }

    .landing svg.bottom {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .landing svg.top {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/* End Landing Section */

/* Start Boxes Animation */
.area {
    /* background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8); */
    width: 100%;
    z-index: 0;
}

.area .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.area .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.area .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.area .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.area .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.area .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.area .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.area .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.area .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.area .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.area .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.area .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* End Boxes Animation */

/* Start Join Us Section */
.join-us {
    background-image: url('../images/test-2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* End Join Us Section */

/* Start Our Benefits Section */
.number-circle::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

/* End Our Benefits Section */

/* Start Footer */
.join-us-footer {
    background-image: url('../images/bg-footer.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.copyright {
    border-top: 2px solid rgba(84, 84, 84, 0.40);
}

.social-icon {
    background: rgba(255, 255, 255, 0.12);
}

.footer-wave {
    display: block;
}

body .sub-join-us + footer .footer-wave {
    display: none;
}
/* End Footer */

/* Start Swiper JS */
.swiper-pagination-bullet {
    background-color: rgb(74 222 128) !important;
}

.swiper-pagination-bullet-active {
    background-color: rgb(34 197 94) !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(34 197 94) !important;
    font-size: 8px !important;
}
/* End Swiper JS */



/* .triangles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.triangles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 35px solid rgba(34, 197, 94, 0.5);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.triangles li:nth-child(1) {
    left: 25%;
    border-bottom: 60px solid rgba(34, 197, 94, 0.5);
    animation-delay: 0s;
}

.triangles li:nth-child(2) {
    left: 10%;
    border-bottom: 10px solid rgba(34, 197, 94, 0.5);
    animation-delay: 2s;
    animation-duration: 12s;
}

.triangles li:nth-child(3) {
    left: 70%;
    border-bottom: 15px solid rgba(34, 197, 94, 0.5);
    animation-delay: 4s;
    animation-duration: 18s;
}

.triangles li:nth-child(4) {
    left: 40%;
    border-bottom: 25px solid rgba(34, 197, 94, 0.5);
    animation-delay: 0s;
}

.triangles li:nth-child(5) {
    left: 65%;
    border-bottom: 45px solid rgba(34, 197, 94, 0.5);
    animation-delay: 0s;
    animation-duration: 14s;
}

.triangles li:nth-child(6) {
    left: 75%;
    border-bottom: 20px solid rgba(34, 197, 94, 0.5);
    animation-delay: 3s;
}

.triangles li:nth-child(7) {
    left: 35%;
    border-bottom: 30px solid rgba(34, 197, 94, 0.5);
    animation-delay: 7s;
}

.triangles li:nth-child(8) {
    left: 50%;
    border-bottom: 40px solid rgba(34, 197, 94, 0.5);
    animation-delay: 15s;
}

.triangles li:nth-child(9) {
    left: 20%;
    border-bottom: 20px solid rgba(34, 197, 94, 0.5);
    animation-delay: 2s;
}

.triangles li:nth-child(10) {
    left: 85%;
    border-bottom: 35px solid rgba(34, 197, 94, 0.5);
    animation-delay: 0s;
    animation-duration: 11s;
} */